* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    height: 100%;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: center;
}

main p {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 900;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

.hidden {
    display: none;
}

.inspringen {
    animation: inspringen 1s;
}

#enemy {
    text-transform: uppercase;
    color: red;
    animation: enemy 1s infinite;
}

@keyframes enemy {
    0% {
        text-shadow: 0px 0px 5px red;
    }
    50% {
        text-shadow: 0px 0px 0px red;
    }
    100% {
        text-shadow: 0px 0px 5px red;
    }
}

@media screen and (max-width: 40em) {
    main p {
      font-size: 2em;
    }
}

@keyframes inspringen {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}